
.newline {
    display: block;
    margin-top: 5px;
}

.center {
    margin: auto;
    width: 155px;
    border: 3px solid #8AC007;
    padding: 10px;
}

.label {
    width: 70px;
}

.fwrdBtn {
    width: 50px;
    text-align: center;
    
}

.warning {
    color: red;
    font-size: 14px;
    text-align: left;
}

.success {
    color: green;
    font-size: 18px;
    text-align: center;
}