<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PasswordReset.SelfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Step1.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <!-- Active Directory details -->
    <add key="ADUnlockAccount" value="False"/>
    <add key="ADDomainAdmin" value="domainOne.contoso.com"/>
    <add key="ADDnAdmin" value="OU=Users,OU=Organization,DC=domainOne,DC=contoso,DC=com"/>
    <!-- Active Directory details (supports lookup in a second subdomain) -->
    <add key="ADDomainSchool" value="domainTwo.contoso.com"/>
    <add key="ADDnSchool" value="OU=Users,OU=Organization,DC=domainTwo,DC=contoso,DC=com"/>
    <!-- MSSQL details (add a DNS A-record for "sql-PasswordSelfService" to the MSSQL server or update Data Source to your MSSQL server hostname/ip)-->
    <add key="DBConnection" value="Data Source=sql-PasswordSelfService;database=PasswordSelfService;Integrated Security=True"/>
    <!-- SMS WebService details -->
    <add key="WebServiceURL" value="https://yourprovider.com/example.asmx/SendSM"/>
    <add key="Username" value="USERNAME"/>
    <add key="Password" value="PASSWORD"/>
    <add key="FromNumber" value="########"/>
    <!-- Debug details -->
    <add key="Debug" value="False"/>
  </appSettings>
  <log4net>
    <root>
      <level value="ALL"/>
      <appender-ref ref="LogFileAppender"/>
      <!--<appender-ref ref="SmtpAppender" />-->
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <!-- set to DEBUG if you need debug information from the service, however this is the kind of situation that the console application is supposed to be used for -->
        <levelMax value="FATAL"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <param name="File" value="C:\temp\PasswordReset.SelfService.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n"/>
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
      <to value="name@youremaildomain.no"/>
      <from value="name@youremaildomain.no"/>
      <subject value="test logging message"/>
      <smtpHost value="192.168.1.1"/>
      <bufferSize value="512"/>
      <lossy value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>